<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @user.users_skill.where(visible: true).any? || @user.id == current_user.id %>
      <h3>
        Skills (<%= @user.users_skill.where(visible: true).count %>)
      </h3>
      <% nth_skill = 0 %>
      <ol class="users_skills">
        <% @users_skill.each do |us| %>
          <% nth_skill += 1 %>
          <%= render partial: 'users_skills/users_skill', locals: { users_skill: us, nth_skill: nth_skill } %>
        <% end %>
      </ol>
    <% end %>
  </div>

  <div class="col-sm-3 col-md-offset-9">
    <%= form_tag add_skill_path, method: "post" do %>
      <div class="field">
        <%= text_field_tag :add_skill %>
      </div>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= submit_tag "Add skill", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
