<% provide(:title, @skill.name) %>
<h1><%= @skill.name %></h1>
<h3>Following users have this skill.</h3>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>

<%= will_paginate %>
</ul>
