<% skill = Skill.find(users_skill.skill_id) %>
<% if @user.id == current_user.id %>
  <li id="users_skill-<%= users_skill.id %>">
    <span class="name">
      <% like_btn_class =
        UsersSkillLike.exists?(users_skill_id: users_skill.id, user_id: current_user.id) ? "btn btn-success" : "btn btn-default" %>
      <%= link_to "#{ users_skill.n_liked } Liked", 
        like_skill_path({ user_id: @user.id, skill_id: users_skill.skill_id }), 
        method: :post, class: like_btn_class %>
      <%= link_to skill.name, skill%>

      <% hide_btn_text = users_skill.visible ? "Hide this skill" : "Show this skill" %>
      <%= link_to hide_btn_text,
        hide_skill_path({ user_id: @user.id, users_skill_id: users_skill.id }),
        method: :post, class: "btn btn-default"%>
  </span>
  <%= render partial: 'users_skills/who_liked', locals: { users_skill: users_skill , nth_skill: nth_skill} %>
  </li>
<% elsif users_skill.visible %>
  <li id="users_skill-<%= users_skill.id %>">
    <span class="name">
      <% like_btn_class = 
        UsersSkillLike.exists?(users_skill_id: users_skill.id, user_id: current_user.id) ? "btn btn-success" : "btn btn-default" %>
      <%= link_to "#{ users_skill.n_liked } Liked", 
        like_skill_path({ user_id: @user.id, skill_id: users_skill.skill_id }), 
        method: :post, class: like_btn_class %>
      <%= link_to skill.name, skill%>
    </span>
  <%= render partial: 'users_skills/who_liked', locals: { users_skill: users_skill , nth_skill: nth_skill} %>
  </li>
<% end %>
